html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: "Roboto", sans-serif;
    background-color:  rgb(132, 157, 143);
    margin: 0;
}

button {
    padding: 0 20px;
    border: none;
    vertical-align: middle;
}

.btn {
    display: inline-flex;
    font-size: 18px;
    line-height: 17px;
    text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
    text-decoration: none;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    text-align: center;
    min-height: 45px;
    padding: 14px 24px;
    color: #fff;
    box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
    background: #f26843;
    background: -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    border-radius: 100px;
    cursor: pointer;
}
  
.btn:hover {
    background: -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
    background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
    background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%); 
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 1);
}

.btn:active {
    background: -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
    background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
    background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%); 
    box-shadow: inset 0px 2px 2px 0px rgba(172, 16, 0, 1);
}

.btn--large {
    font-size: 32px;
    line-height: 44px;
    font-weight: bold;
    min-height: 64px;
    padding: 12px 42px;
}

.container {
    width: 1250px;
    margin: 0 auto;
    padding: 0 50px;
}

.main-header .container {
    display: flex;
    justify-content: space-between;
}

.main-navigation {
    display: flex;
    width: 560px;
    margin-top: 20px;
    z-index: 2;
}

.main-navigation ul {
    display: flex;
    color: #ffffff;
    padding: 0;
    margin: 0;
    font-size: 0px;
}

.main-navigation li a {
    display: inline-block;
    list-style: none;
    text-decoration: none;
    padding: 8px 10px;
    margin-right: 10px;
    color: #fff;
    font-size: 16px;
    line-height: 16px;
}

.main-navigation li a:hover {
    color: #000;
    background-color: #f7f6f3;
    border-radius: 15px;
}

.main-navigation li:last-child a {
    margin-right: 0;
}

.index-logo {
    padding-right: 30px;
    margin-top: -10px;
}

.user-block {
    margin-left: auto;
    margin-top: 20px;
    width: 265px;
    z-index: 2;
}

.user-block ul {
    position: relative;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0;
}

.user-block li a {
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    padding: 8px 17px;
    padding-left: 45px;
    margin: 0;
    color: #fff;
    margin-right: 10px;
}

.user-block li a:hover {
    color: #000;
    background-color: #f7f6f3;
    border-radius: 15px;
}

.user-block li:last-child a {
    margin-right: 0px;
}

.user-block li .search {
    position: relative;
    display: inline-block;
    padding: 7px;
    padding-bottom: 4px;
}

.search::before {
    display: inline-block;
    content: "";
    top: 7px;
    left: 16px;
    width: 17px;
    height: 17px;
    background: transparent url("/img/Лупа.png") no-repeat;
}

.modal {
    display: none;
    position: absolute;
    padding: 20px 15px;
    background-color: #f8f7f4;
    box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
    z-index: 20;
    border-radius: 5px;
}

.modal input {
    margin: 0;
    padding: 15px;
    border: 1px solid #d3d3d2;
    border-radius: 5px;
}

.modal--show {
    display: block;
} 

.modal-search {    
    width: 340px;
    height: 85px;
    top: 35px;
    right: 50%;
    margin-right: 100px;
    padding: 20px 15px;
}

 
.modal-search input {
    width: 310px;
}

.search:hover::before {
    filter: invert(1);
}

.login {
    position: relative;
    display: inline-block;
}

.login::before {
    position: absolute;
    content: "";
    top: 7px;
    left: 17px;
    width: 21px;
    height: 19px;
    background: transparent url("/img/login.png") no-repeat;
}

.modal-login {
    position: absolute;
    width: 280px;
    height: 220px;
    top: 35px;
    right: 50%;
    margin-right: -5px;
}

.modal-login input {
    width: 240px;
    margin-bottom: 20px;    
}

.modal-login .login-link {
    position: relative;
    display: inline-block;
    width: 120px;
}

.modal-login .login-link__recovery {
    display: inline-block;
    position: absolute;
    font-size: 13px;
    line-height: 24px;
    margin: 0;
    padding: 0;
    color: #323232;
    top: 155px;
    left: 50%;   
}

.modal-login .login-link__reg {
    display: inline-block;
    position: absolute;
    font-size: 13px;
    line-height: 24px;
    margin: 0;
    padding: 0;
    color: #323232;
    top: 175px;
    left: 50%;   
}

.login:hover::before {
    filter: invert(1);
}

.bag {
    position: relative;
    display: inline-block;
}

.bag::before {
    position: absolute;
    content: "";
    top: 7px;
    left: 17px;
    width: 21px;
    height: 20px;
    background: transparent url("/img/bag.png") no-repeat;
}

.bag:hover::before {
    filter: invert(1);
}

.work-info {
    margin-left: auto;
    width: 175px;
    padding: 0;
    text-align: right;
    /* z-index: 2; */
}

.work-info__time {
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    text-align: right;
    margin-bottom: 5px;
}

.work-info__tel {
    display: inline-block;
    text-decoration: none;
    font-size: 22px;
    line-height: 24px;
    color: #fff;
    text-align: right;
}

.intro-slider {
    margin-top: -140px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -245px;
}

.intro-slider__slide {
    position: relative;
    text-align: center;
    height: 900px;
}

.slick-slide {
    outline: none;
}

.slick-slide img:focus {
    border: none;
    outline: none;
}

.slide__img {
    padding-left: 50px;
    z-index: -1;
}

.intro-slider__title {
    position: absolute;
    top: 350px;
    left: 230px;
    font-size: 60px;
    line-height: 60px;
    color: #fff;
    max-width: 700px;
    margin-bottom: 26px;
}

.intro-slider__title + a {
    position: absolute;
    top: 550px;
    left: 430px;
}

.slick-dots {
    display: flex;
    list-style: none;
    position: absolute;
    bottom: 32%;
    left: -40px;
}

.slick-dots ul {
    margin: 0;
    padding: 0;
}

.slick-dots li button{
    width: 21px;
    height: 21px;
    margin: 0;
    padding: 0;
    font-size: 0;
    margin-right: 8px;
    vertical-align: top;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
}

.slick-dots .slick-active button {
    background-color: rgba(255, 255, 255);
}

.slick-dots button:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.slick-dots button:active {
    background-color: rgba(255, 255, 255);
}

.info-cards {
    display: flex;
    margin-bottom: 40px;
}

.info-cards__left {
    flex: 0 1 50%;
    width: 50%;
    min-height: 230;
    margin-right: 25px;
    z-index: 2;
}

.info-cards__right {
    flex: 0 1 50%;
    width: 50%;
    min-height: 230;
    z-index: 2;
}

.info-card {
    padding: 20px 20px;
}

.info-card__title {
    font-size: 35px;
    font-weight: bold;
    line-height: 41px;
    color: #fff;
    padding-bottom: 14px;
}

.info-card__actions {
    display: flex;
    justify-content: flex-end;
}

.info-card p {
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    padding-bottom: 40px;
}

.info-cards__left .info-card {
    background: url("/img/Малиновый\ фон.jpg") no-repeat;
    background-size: cover;
    border-radius: 15px;
}

.info-cards__right .info-card {
    background: url("/img/Шоколадный\ фон.jpg") no-repeat;
    background-size: cover;
    border-radius: 15px;
}

.item-catalog {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -24px;
}

.item {
    flex: 0 0 25%;
    width: 25%;
    padding: 0 24px;
}

.item__img {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 14px;
}

.item__img img {
    border-radius: 140px;
}

.item__label {
    position: absolute;
    top: 0;
    left: 0;
}

.item__price {
    position: absolute;
    bottom: 15px;
    left: 0;
    font-size: 45px;
    line-height: 45px;
    font-weight: bold;
    text-shadow: 0.5px 0.9px 3px 
    rgba(49, 50, 53, 0.5);
    color: #fff;
}

.item__price span {
    font-size: 27px;
    font-weight: bold;
}

.item__name {
    display: inline-block;
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 22px;
    color: #fff;
    text-align: center;
}

.info-advantages {
    margin-bottom: 40px;
    background: url('/img/woff_patten.jpg');
    border-radius: 15px;
    padding: 28px 20px;
    padding-bottom: 0;
}

.info-advantages__list {
    display: flex;
    flex-wrap: wrap;
}

.advantage-item {
    position: relative;
    flex: 0 0 50%;
}

.info-advantages__title {
    margin: 0;
    padding: 0;
    font-size: 24px;
    line-height: 30px;
    padding-right: 125px;
    margin-bottom: 24px;
}

.advantage-item__img {
    position: absolute;
    top: -20px;
}

.advantage-item__text {
    padding-left: 60px;
    padding-right: 25px;
    margin-bottom: 30px;
}

.card-blog {
    padding: 20px 30px;
}

.card-blog {
    background: url("/img/strawberry\ background.jpg") no-repeat;
    background-size: cover;
    border-radius: 15px;
}

.card-blog__title {
    margin: 0;
    padding: 0;
    padding-bottom: 8px;
    font-size: 16px;
    line-height: 22px;
    color: #000;
}

.card-blog__link {
    display: inline-block;
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    color: #000;
    max-width: 300px;
    margin-bottom: 65px;
}

.card-subscription__pattern {
    background: #f8f7f4 url('/img/post_pattern.png');
    padding: 6px 8px;
    border-radius: 15px;
}

.card-subscription {
    padding: 34px 20px;
    background-color: #f8f7f4;
}

.card-subscription__title {
    margin: 0;
    padding: 0;
    padding-bottom: 34px;
    font-size: 16px;
    line-height: 22px;
}

.subscription {
    display: flex;
}

.subscription input {
    width: 368px;
    height: 44px;
    padding: 15px;
    margin-right: 11px;
}

.subscription .btn {
    margin-left: auto;
}

.map {
    padding: 60px 50px;
    width: 100%;
    height: 430px;
    background: url('/img/map.jpg');
    background-size: cover;
}

.map-info {
    max-width: 300px;
    margin-left: auto;
    background-color: #fff;
    border-radius: 15px;
    padding: 30px 25px;
}

.map-info__text {
    margin: 0;
    padding: 0;
    padding-bottom: 8px;
}

.map-info__adress {
    margin: 0;
    padding: 0;
    padding-bottom: 16px;
    color: #323232;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
}

.map-info__tel {
    margin: 0;
    padding: 0;
    color: #323232;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
}

.main-footer {
    min-height: 140px;
}

.main-footer .container {    
    display: flex;
    justify-content: space-between;
}

.footer-social {
    display: flex;
    margin-top: 32px;
    margin-left: 54px;
}

.footer-social .social-btn {
    margin-right: 17px;
}

.footer-social .social-btn:last-child {
    margin-right: 0;
}

.footer-info__list {
    display: flex;
    margin-top: 32px;
}

.footer-info__list ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-info__list li {
    padding: 0;
    margin: 0;
    padding-bottom: 5px;
}

.footer-info__list li a {
    font-size: 13px;
    line-height: 18px;
    color: #fff;
}

.footer-info__list .info-list__left {
    position: relative;
    margin-right: 32px;
}


.info-list__left .footer-info__img {
    position: absolute;
    top: 5px;
    left: -20px;
    width: 15px;
    height: 13px;
}

.footer-copyright__logo {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 5px;
}

.footer-copyright__text {
    margin: 0;
    padding: 0;
    font-size: 13px;
    color: #fff;
}

.footer-copyright__text a {
    color: #fff;
}