html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: rgb(132, 157, 143);
    font-family: "Roboto", sans-serif
}

/* .clearfix {
    content: "";
    display: table;
    clear: both;
} */

.btn {
    display: inline-flex;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    text-align: center;
    height: 45px;
    padding: 14px 24px;
    color: #fff;
    box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
    background-image: linear-gradient(to top, #e74a35, #f26843);
    border-radius: 75px;
     
}

.container {
    width: 1250px;
    margin: 0 auto;
    padding: 0 10px;
}

.main-header .container {
    display: flex;
    justify-content: space-between;
}

.main-navigation {
    display: flex;
    width: 560px;
}

.main-navigation ul {
    display: flex;
    color: #ffffff;
    padding: 0;
    margin: 0;
    font-size: 0px;
}

.main-navigation li a {
    display: inline-block;
    list-style: none;
    text-decoration: none;
    padding: 20px 10px;
    margin-right: 10px;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
}

.main-navigation li a:hover {
    color: #000;
    background-color: rgb(76, 163, 114);
    border-radius: 75px;
}

.main-navigation li:last-child a {
    margin-right: 0;
}

.index-logo {
    padding-right: 30px;
}

.user-block {
    margin-left: auto;
    width: 265px;
}

.user-block ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0;
}

.user-block li a {
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    margin-right: 10px;

}

.user-block li:last-child a {
    margin-right: 0px;
}

.search {
    position: relative;
    display: inline-block;
    font-size: 0 !important;
    padding: 20px 0;
    height: 60px;
}

.search::before {
    display: block;
    content: "";
    top: 17px;
    left: 16px;
    width: 17px;
    height: 17px;
    background: transparent url("/img/Лупа.png") no-repeat;
}

.login {
    position: relative;
    display: inline-block;
    /* max-width: 93px; */
    padding: 20px 17px;
    padding-left: 44px;
    height: 60px;
}

.login::before {
    position: absolute;
    content: "";
    top: 18px;
    left: 17px;
    width: 21px;
    height: 19px;
    background: transparent url("/img/login.png") no-repeat;
}

.bag {
    position: relative;
    display: inline-block;
    padding: 20px 34px;
    padding-left: 45px;
    height: 60px;
}

.bag::before {
    position: absolute;
    content: "";
    top: 17px;
    left: 17px;
    width: 21px;
    height: 20px;
    background: transparent url("/img/bag.png") no-repeat;
}

.work-info {
    margin-left: auto;
    width: 175px;
    padding: 0;
    text-align: right;
}

.work-info__time {
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    text-align: right;
    margin-bottom: 5px;
}

.work-info__tel {
    display: inline-block;
    text-decoration: none;
    font-size: 22px;
    line-height: 24px;
    color: #fff;
    text-align: right;
}

.intro-slider {
    width: 700px;
    height: 600px;
    margin-top: -40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -40px;
}

.slide__img {
    position: relative;
    width: 100%;
    height: 100%;
}

.img__left {
    position: absolute;
    top: 0;
    left: 20px;
    z-index: -1;
}

.img__right {
    position: absolute;
    top: 50px;
    right: 20px;
    z-index: -2;
}


.intro-slider__slide {
    text-align: center;
}

.intro-slider__title {
    font-size: 60px;
    line-height: 60px;
    color: #fff;
}

.intro-slider__slide a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #fff;
}

.info-cards {
    display: flex;
    padding: 0;
    margin: 0;
    font-size: 0;
    margin-bottom: 40px;
}

.info-cards__left {
    flex: 0 1 50%;
    width: 50%;
    min-height: 230;
    margin-right: 25px;
}

.info-cards__right {
    flex: 0 1 50%;
    width: 50%;
    min-height: 230;
}

.info-card {
    padding: 20px 20px;
}

.info-card__title {
    font-size: 35px;
    font-weight: bold;
    line-height: 41px;
    color: #fff;
    padding-bottom: 14px;
}

.info-card p {
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    padding-bottom: 40px;
}

.info-cards__left .info-card {
    background: url("/img/Малиновый\ фон.jpg") no-repeat;
    background-size: cover;
    border-radius: 35px;
}

.info-cards__right .info-card {
    background: url("/img/Шоколадный\ фон.jpg") no-repeat;
    background-size: cover;
    border-radius: 35px;
}

.item-catalog {
    display: flex;
    justify-content: space-between;
    margin: 0 -24px;
    margin-bottom: 40px;
}

.item {
    flex: 0 0 25%;
    width: 25%;
    padding: 0 24px;
}

.item__img {
    position: relative;
    width: 100%;
    height: auto;
}

.item__img img {
    border-radius: 140px;
}

.item__label {
    position: absolute;
    top: 0;
    left: 0;
}

.item__price {
    position: absolute;
    bottom: 15px;
    left: 0;
    font-size: 45px;
    color: #fff;
}

.item__price span {
    font-size: 27px;
    font-weight: bold;
}

.info-advantages {
    margin-bottom: 40px;
}

.info-advantages__list {
    display: flex;
    flex-wrap: wrap;
}

.advantage-item {
    flex: 0 0 50%;
}

.card-blog {
    padding: 20px 30px;
}

.info-cards__left .card-blog {
    background: url("/img/")
}

.main-footer .container {
    display: flex;
    justify-content: space-between;
}