html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    background-color: rgb(132, 157, 143);
}
/* .clearfix {
    content: "";
    display: table;
    clear: both;
} */

.container {
    width: 1146px;
    margin: 0 auto;
    padding: 0 10px;
}

.main-header .container {
    display: flex;
    justify-content: space-between;
}

.main-navigation {
    display: flex;
    width: 560px;
}

.main-navigation ul {
    display: flex;
    color: #ffffff;
    padding: 0;
    margin: 0;
    font-size: 0px;
}

.main-navigation li a {
    display: inline-block;
    list-style: none;
    text-decoration: none;
    margin-right: 30px;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
}

.main-navigation li:last-child a {
    margin-right: 0;
}

.index-logo{
    padding-right: 30px; 
}

.user-block {
    margin-left: auto;
    width: 265px;
}

.work-info {
    margin-left: auto;
    width: 175px;
}

.intro-slider {
    width: 700px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -20px;
}

.info-cards {
    display: flex;
    margin-bottom: 40px;
}

.info-cards__left {
    flex: 0 1 50%;
    width: 50%;
    min-height: 230;
}

.info-cards__right {
    flex: 0 1 50%;
    width: 50%;
    min-height: 230;
}

.item-catalog {
    display: flex;
    justify-content: space-between;
    margin: 0 -24px;
    margin-bottom: 40px;
}

.item {
    flex: 0 0 25%;
    width: 25%;
    padding: 0 24px;
}

.item__img {
    width: 100%;
    height: auto;
}

.info-advantages {
    margin-bottom: 40px;
}

.main-footer .container {
    display: flex;
    justify-content: space-between;
}


      